head {
  font-family: Bernard MT Condensed;
}

body {
  background-color: black;
  color: white;
  font-family: Baskerville Old Face;
}

footer {
  background-color: rgba(16, 4, 59, 0.486);
  font-family: Agency FB;
}


hgroup {
  background-color: rgba(23, 5, 88, 0.74);
  font-family: Agency FB;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.active {
  background-color: #04AA6D;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 45%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .Phone:hover,
.wrapper .Phone:hover .tooltip,
.wrapper .Phone:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}










.back-top #toTop:hover {
  background: #000;
  color: #fff;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fa-angle-double-up:before {
  content: "\f102";
}

.back-top #toTop {
  position: fixed;
  bottom: 75px;
  right: 10px;
  z-index: 50;
  background: #100347;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  transition: all 0.25s ease-in-out 10s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  -moz-transition: all .15s ease-in-out 5s;
  -webkit-transition: all .15s ease-in-out 5s;
  -o-transition: all .15s ease-in-out 5s;
}

.img-circle {
  border-radius: 50%;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


a,
*:hover,
*:focus,
*:active :focus {
  text-decoration: none;
  outline: none !important;
  outline-offset: 0 !important;
}

a {
  color: #333;
}

a {
  outline: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .show {
    height: 67%;
    width: 67%;
  }
}